# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
.env
*.log
.venv/

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# Audio files (optional if you don't want them)
*.wav

# OS files
.DS_Store
Thumbs.db
backend/mediscribe-ai-46e03-firebase-adminsdk-fbsvc-52969ed24b.json
# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.json
/*.js